Repository ldgallery/ldgallery, pull requests merged in 2020-09, with the labels that each got.

#242 viewer: fixed a minor crash in the information panel for missing reso…
  viewer/src/components/LdInformation.vue
Labels: class:bug, class:technical, component:viewer

#246 viewer: natural sort
  viewer/src/services/itemComparators.ts
Labels: class:enhancement, component:viewer

#247 viewer: DevServer is now able to switch between HTTP proxy and filesystem.
  viewer/vue.config.js
Labels: class:technical, component:viewer

#249 viewer: sort by date ascending
  viewer/src/@types/gallery.d.ts
  viewer/src/locales/en.json
  viewer/src/services/itemComparators.ts
Labels: class:enhancement, component:viewer

#254 viewer: rollback @vue/cli-* to latest working version
  viewer/package-lock.json
  viewer/package.json
Labels: class:bug, component:viewer, dependencies

#257 viewer/services/itemComparators: make the orders linear
  example/config.json
  viewer/ldgallery-viewer.7.md
  viewer/src/services/itemComparators.ts
Labels: class:bug, class:enhancement, component:viewer, documentation

#260 viewer: refactor how the available sorts are stored
  viewer/src/components/LdCommandSort.vue
  viewer/src/components/LdGallery.vue
  viewer/src/services/itemComparators.ts
  viewer/src/store/uiStore.ts
Labels: class:technical, component:viewer

#262 viewer: fix momentum/kinetic scroll on Safari and Firefox on iOS
  viewer/src/assets/scss/scrollbar.scss
Labels: class:bug, component:viewer
