Repository ldgallery/ldgallery, pull requests merged in 2020-02, with the labels that each got.

#75 compiler: optimise dir diff for output cleanup
  compiler/package.yaml
  compiler/src/Resource.hs
Labels: class:enhancement, component:compiler

#73 compiler: auto orient processed images
  compiler/src/Processors.hs
Labels: class:enhancement, component:compiler

#79 Oz viewer - code review fixes
  viewer/src/assets/scss/theme.scss
  viewer/src/components/LdBreadcrumb.vue
  viewer/src/components/LdCommand.vue
  viewer/src/plugins/fontawesome.ts
  viewer/src/tools.ts
Labels: class:bug, component:viewer

#72 Fix implicit output exclusion
  compiler/src/Compiler.hs
  compiler/src/Files.hs
  ldgallery.1.md
  readme.md
Labels: class:bug, component:compiler, documentation

#74 Add thumbnail size to index
  compiler/src/Processors.hs
  compiler/src/Resource.hs
  design-notes.md
  viewer/src/@types/gallery.d.ts
  viewer/src/assets/scss/global.scss
  viewer/src/components/LdPicture.vue
  viewer/src/components/LdThumbnail.vue
Labels: class:enhancement, component:compiler, component:viewer

#81 viewer: crash fix for proposed tags when using discriminant format
  viewer/src/components/LdProposition.vue
Labels: class:bug, component:viewer

#90 compiler: handle image resolution parsing error
  compiler/src/Processors.hs
Labels: class:enhancement, component:compiler

#89 Feature check distinct in out dirs
  compiler/app/Main.hs
  compiler/src/Compiler.hs
  compiler/src/Processors.hs
  example/.gitignore
  ldgallery.1.md
Labels: class:enhancement, component:compiler, documentation

#111 viewer: tag propositions hints
  viewer/src/components/LdProposition.vue
  viewer/src/locales/en.json
Labels: class:enhancement, component:viewer

#110 viewer: colour palette
  viewer/src/assets/scss/palette.scss
  viewer/src/assets/scss/theme.scss
  viewer/src/components/LdBreadcrumb.vue
  viewer/src/components/LdCommand.vue
Labels: class:enhancement, component:viewer

#109 viewer: secondary command buttons
  viewer/src/assets/scss/global.scss
  viewer/src/components/LdCommand.vue
  viewer/src/locales/en.json
  viewer/src/plugins/fontawesome.ts
Labels: class:enhancement, component:viewer

#108 viewer: fix sticky hover styling on links
  viewer/src/assets/scss/global.scss
Labels: class:bug, component:viewer

#107 viewer: add generator meta tag
  viewer/public/index.html
Labels: class:enhancement, component:viewer

#113 viewer: ldbreadcrumbs: implement horizontal scrolling
  viewer/src/assets/scss/theme.scss
  viewer/src/components/LdBreadcrumb.vue
  viewer/src/components/LdPicture.vue
  viewer/src/dragscrollclickfix.ts
Labels: class:enhancement, component:viewer

#117 viewer: store and restore the scroll position through navigation
  viewer/src/@types/scrollposition.d.ts
  viewer/src/views/MainLayout.vue
Labels: class:enhancement, component:viewer

#125 viewer: default configuration for mobile-web-app-capable manifest.
  viewer/public/defaulticon.png
  viewer/public/index.html
  viewer/public/manifest.json.example
  viewer/src/assets/defaulticon.svg
Labels: component:viewer

#126 compiler: remove timestamp field from generated viewer config
  compiler/app/Main.hs
Labels: component:compiler

#127 compiler: stabilise item order in index
  compiler/src/Files.hs
Labels: component:compiler

#133 docs: gather dependencies licenses
  readme.md
Labels: documentation

#148 viewer: disable the back command to prevent exiting the gallery
  viewer/src/components/LdCommand.vue
  viewer/src/views/MainLayout.vue
Labels: class:enhancement, component:viewer

#139 compiler: make --clean-output remove old viewer files
  compiler/app/Main.hs
Labels: class:enhancement, component:compiler

#150 transverse: combine item tree and gallery-wide properties
  compiler/src/Compiler.hs
  design-notes.md
  viewer/src/@types/gallery.d.ts
  viewer/src/store/galleryStore.ts
Labels: component:compiler, component:viewer

#151 viewer: removing a tag from the filters opens the keyboard on mobile
  viewer/src/components/LdTagInput.vue
Labels: class:bug, component:viewer

#162 viewer: architectural fixes and improvements
  viewer/src/@types/gallery.d.ts
  viewer/src/components/LdBreadcrumb.vue
  viewer/src/components/LdCommand.vue
  viewer/src/components/LdProposition.vue
  viewer/src/components/LdTagInput.vue
  viewer/src/store/galleryStore.ts
  viewer/src/store/index.ts
  viewer/src/store/uiStore.ts
  viewer/src/views/GalleryNavigation.vue
  viewer/src/views/GallerySearch.vue
  viewer/src/views/PanelLeft.vue
Labels: class:bug, component:viewer

#163 viewer: added a count of results found in other folders when no-resul…
  viewer/src/components/LdGallery.vue
  viewer/src/locales/en.json
  viewer/src/services/indexsearch.ts
  viewer/src/views/GallerySearch.vue
Labels: class:enhancement, component:viewer

#156 compiler: re-introduce gallery title
  compiler/ldgallery.1.md
  compiler/src/Config.hs
  example/src/gallery.yaml
  viewer/src/@types/gallery.d.ts
Labels: class:enhancement, component:compiler, component:viewer, documentation

#165 docs: document viewer
  .gitignore
  compiler/ldgallery.1.md
  viewer/ldgallery-viewer.7.md
Labels: component:viewer, documentation

#166 viewer: use colon as tag separator instead of dot
  compiler/ldgallery.1.md
  example/src/DSC0001.jpg.yaml
  example/src/Ormont-Dessus/DSC0002.jpg.yaml
  example/src/Ormont-Dessus/DSC0003.jpg.yaml
  example/src/Ormont-Dessus/_directory.yaml
  example/src/gallery.yaml
  scripts/migrate_tags_dot_to_colon.py
  viewer/src/components/LdProposition.vue
  viewer/src/services/indexfactory.ts
Labels: class:enhancement, component:viewer, documentation

#161 compiler: add tag inclusion and exclusion globs
  compiler/ldgallery.1.md
  compiler/src/Compiler.hs
  compiler/src/Config.hs
  compiler/src/Input.hs
  example/src/gallery.yaml
Labels: class:enhancement, component:compiler, documentation

#167 viewer: tag index bugfix
  viewer/src/components/LdCommand.vue
  viewer/src/components/LdTagInput.vue
  viewer/src/services/indexfactory.ts
  viewer/src/views/GalleryNavigation.vue
  viewer/src/views/PanelLeft.vue
Labels: class:bug, component:viewer

#152 viewer: set page title
  viewer/src/components/LdTitle.vue
  viewer/src/store/galleryStore.ts
  viewer/src/views/MainLayout.vue
Labels: class:enhancement, component:viewer

#170 viewer: show/hide the left panel depending on the viewport's width at…
  viewer/.env
  viewer/src/store/uiStore.ts
Labels: class:enhancement, component:viewer, platform:mobile
