Repository ldgallery/ldgallery, pull requests merged in 2020-04, with the labels that each got.

#179 ci: include manual pages in compiled archive
  .travis.yml
Labels: documentation

#178 viewer: items with long titles overflow
  viewer/src/assets/scss/theme.scss
  viewer/src/components/LdThumbnail.vue
  viewer/src/main.ts
Labels: class:bug, component:viewer

#180 viewer: document tag disambiguation in queries
  viewer/ldgallery-viewer.7.md
Labels: component:viewer, documentation

#188 viewer: fix touchpad scroll in filter proposition list
  viewer/src/views/PanelLeft.vue
Labels: class:bug, component:viewer

#195 viewer/LdPicture: implement mousewheel and pinch zoom
  compiler/src/Processors.hs
  compiler/src/Resource.hs
  readme.md
  viewer/package-lock.json
  viewer/package.json
  viewer/src/@types/gallery.d.ts
  viewer/src/components/LdPicture.vue
  viewer/src/services/ldzoom.ts
  viewer/src/views/MainLayout.vue
Labels: class:enhancement, component:viewer

#198 viewer: fullscreen on double-click is now true fullscreen. Also works…
  viewer/public/index.html
  viewer/src/views/MainLayout.vue
Labels: class:enhancement, component:viewer
