Repository ldgallery/ldgallery, pull requests merged in 2020-10, with the labels that each got.

#271 viewer: fixed the back button which was not working properly anymore
  viewer/src/components/LdCommand.vue
Labels: class:bug, component:viewer

#274 viewer: set pointer cursor on collapsible info panel title bar
  viewer/src/views/PanelLeft.vue
Labels: class:bug, class:enhancement, component:viewer

#273 viewer: accessibility: set focus on the main area
  viewer/src/views/MainLayout.vue
Labels: class:enhancement, component:viewer

#272 viewer: fix sort order button hitbox
  viewer/src/assets/scss/global.scss
  viewer/src/components/LdCommand.vue
  viewer/src/components/LdCommandSort.vue
Labels: class:bug, component:viewer

#279 compiler/ItemProcessors: register .webp as picture file extension
  compiler/src/ItemProcessors.hs
Labels: class:feature, component:compiler
